# Home Noise Ignore

Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Projects
Public
Sites
.gitconfig
.ssh
.bash_history
.viminfo
.vim/backup
.vim_backup
.subversion
.android
.cups
.dropbox
.anyconnect
.recently-used
.Trash
